h1{
    color:aquamarine;
}

.INTRODUCTION{
    background-color:red;
    display:flex;
    justify-content: space-between ;
}

.Game{
    display:flex;
    flex-wrap:wrap;

}
h3{
    color:aquamarine;
    text-align: center;
}